# Chilean Photography Markets Analysis

Analysis from the scraped data from chilean photography websites 

### Import Python Libraries
Import the python libraries to be used in this jupyter notebook

In [173]:
import numpy as np
import pandas as pd

### Load Data

Load data from CSV files

In [190]:
# -- Read all files --

# read Brand dataset
brand_dt = pd.read_csv("data/brand.csv", skiprows=0, sep=';', dtype={"brand_id": int})
brand_dt.columns = ['brand_id', 'brand_name']

# read Category dataset
category_dt = pd.read_csv("data/category.csv", skiprows=0, sep=';', dtype={"id": int})
category_dt.columns = ['category_id', 'category_name']

# read Sub-Category dataset
category_sub_dt = pd.read_csv("data/category_sub.csv",  sep=';', dtype={"id": int, "category_id":int})
category_sub_dt.columns = ['sub_category_id', 'sub_category_name', 'category_id']

# read Market dataset
market_dt = pd.read_csv("data/market.csv",  sep=';', dtype={"id": int})
market_dt.columns = ['market_id', 'market_name']

# read Product Price dataset
price_dt = pd.read_csv("data/price.csv",  sep=';', dtype={"id": int})
price_dt.columns = ['price_id', 'price_value', 'price_datetime', 'product_sku_id', 'product_id', 'price_type_id']

# read Product Price Type dataset
price_type_dt = pd.read_csv("data/price_type.csv",  sep=';', dtype={"id": int})
price_type_dt.columns = ['price_type_id', 'price_type_name']

# read Product dataset
product_dt = pd.read_csv("data/product.csv",  sep=';', dtype={"id": int})
product_dt.drop(['url', 'image', 'percent', 'description'], axis='columns', inplace=True)
product_dt.columns = ['product_id', 'product_name', 'sub_category_id', 'brand_id', 'product_in_stock']

# read Product SKU dataset
product_sku_dt = pd.read_csv("data/product_sku.csv",  sep=';', dtype={"id": int})
product_sku_dt.drop(['url'], axis='columns', inplace=True)
product_sku_dt.columns = ['product_sku_id', 'product_sku_value', 'market_id']

The <code>price_datetime</code> column has the following date format: <code>YYYY-MM-DD HH24</code>

In [191]:
price_dt['price_datetime'] = pd.to_datetime(price_dt['price_datetime'], format='%Y-%m-%d %H')

Merge all datasets

In [192]:
# Merge all datasets
dt1 = pd.merge(category_dt, category_sub_dt, how='inner', on='category_id')
dt2 = pd.merge(product_dt, brand_dt, how='inner', on='brand_id')
dt3 = pd.merge(dt1, dt2, how='inner', on='sub_category_id')
dt4 = pd.merge(market_dt, product_sku_dt, how='inner', on='market_id')
dt5 = pd.merge(price_dt, price_type_dt, how='inner', on='price_type_id')
dt6 = pd.merge(dt4, dt5, how='inner', on='product_sku_id')
df = pd.merge(dt3, dt6, how='inner', on='product_id')

Final merged pandas dataframe info:

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71060 entries, 0 to 71059
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category_id        71060 non-null  int32
 1   category_name      71060 non-null  object
 2   sub_category_id    71060 non-null  int32
 3   sub_category_name  71060 non-null  object
 4   product_id         71060 non-null  int32
 5   product_name       71060 non-null  object
 6   brand_id           71060 non-null  int64
 7   product_in_stock   71060 non-null  bool
 8   brand_name         71060 non-null  object
 9   market_id          71060 non-null  int32
 10  market_name        71060 non-null  object
 11  product_sku_id     71060 non-null  int32
 12  product_sku_value  70488 non-null  object
 13  price_id           71060 non-null  int32
 14  price_value        71060 non-null  int64
 15  price_datetime     71060 non-null  datetime64[ns]
 16  price_type_id      71060 non-null  int64
 17  price_type_name    71060 non-null  object
dtypes: bool(1), datetime64[ns](1), int32(6), int64(3), object(7)
memory usage: 8.2+ MB

In [206]:
df.head()

,category_id,category_name,sub_category_id,sub_category_name,product_id,product_name,brand_id,product_in_stock,brand_name,market_id,market_name,product_sku_id,product_sku_value,price_id,price_value,price_datetime,price_type_id,price_type_name
0,999,OTROS,999003,ENERGIA,9354,CARGADOR DE BATERIA CB-2LH CANON,55,True,CANON,25,E-BEST,8356,013803247602,71476,29990,2021-06-27 17:00:00,1,NORMAL
1,999,OTROS,999003,ENERGIA,9354,CARGADOR DE BATERIA CB-2LH CANON,55,True,CANON,25,E-BEST,8356,013803247602,71420,29990,2021-06-22 11:00:00,1,NORMAL
2,999,OTROS,999003,ENERGIA,9181,BATERIA CANON NB-10L,55,True,CANON,25,E-BEST,8132,013803140347,70766,39990,2021-06-21 16:00:00,1,NORMAL
3,999,OTROS,999003,ENERGIA,9181,BATERIA CANON NB-10L,55,True,CANON,25,E-BEST,8132,013803140347,71261,39990,2021-06-27 17:00:00,1,NORMAL
4,999,OTROS,999003,ENERGIA,9183,CARGADOR DE BATERIA CANON LC-E8E,55,True,CANON,25,E-BEST,8134,013803125856,70768,36990,2021-06-21 16:00:00,1,NORMAL

Unique values for every columns

In [207]:
print(f"{df.category_id.nunique()} \t category_id") 
print(f"{df.category_name.nunique()} \t category_name")   
print(f"{df.sub_category_id.nunique()} \t sub_category_id") 
print(f"{df.sub_category_name.nunique()} \t sub_category_name")   
print(f"{df.product_id.nunique()} \t product_id")  
print(f"{df.product_name.nunique()} \t product_name")    
print(f"{df.brand_id.nunique()} \t brand_id")    
print(f"{df.product_in_stock.nunique()} \t product_in_stock")    
print(f"{df.brand_name.nunique()} \t brand_name")  
print(f"{df.market_id.nunique()} \t market_id")   
print(f"{df.market_name.nunique()} \t market_name") 
print(f"{df.product_sku_id.nunique()} \t product_sku_id")  
print(f"{df.product_sku_value.nunique()} \t product_sku_value")   
print(f"{df.price_id.nunique()} \t price_id")    
print(f"{df.price_value.nunique()} \t price_value") 
print(f"{df.price_datetime.nunique()} \t price_datetime") 
print(f"{df.price_type_id.nunique()} \t price_type_id")   
print(f"{df.price_type_name.nunique()} \t price_type_name")

7 	 category_id
7 	 category_name
41 	 sub_category_id
33 	 sub_category_name
8778 	 product_id
8558 	 product_name
188 	 brand_id
2 	 product_in_stock
188 	 brand_name
18 	 market_id
18 	 market_name
8345 	 product_sku_id
7289 	 product_sku_value
71060 	 price_id
6914 	 price_value
1817 	 price_datetime
2 	 price_type_id
2 	 price_type_name